<!-- templates/home.html -->
{% comment %} List different companies and provide ability to select company
Clicking on a company will lead to page showing departments for that company.
Provide ability to jump to page with all employees for all departments.
Clicking on department will show page with all employees for that department.
Clicking on employee will open page to edit employee.

For all these pages, also provide functionality for search.

Under new company, provide support for bulk upload.
Under new department, provide support for bulk upload.
Under new employee, provide support for bulk upload.
 {% endcomment %}
{% extends '_base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>Homepage</h1>
{% endblock content %}